* {
    margin: 0;
    padding: 0;
}
body {
    min-width: 982px;
    background: #f5f5f5;
}
.wrap {
    width: 1100px;
    margin: 0 auto;
}
.m-top {
    position: relative;
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
    background: #242424;
    border-bottom: 3px solid #c20c0c;
}
.f-cb {
    height: 100%;
}
.logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.g-item {
    padding: 47px 30px 40px 39px;
    border: 1px solid #d3d3d3;
    margin: 10px 0;
    background-color: #fff;
}
.g-item .tit {
    font-weight: normal;
}
.f-ff2 {
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
.u-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    height: 33px;
    border-bottom: 2px solid #c20c0c;
}
.g-ft {
    position: relative;
    height: 172px;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    background: #f2f2f2;
}